# docker-compose.yml

# Директиву 'version' можно убрать, в новых версиях она не обязательна.
services:
  # Сервис базы данных PostGIS
  db:
    image: postgis/postgis:14-3.3
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=praktika
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword # На сервере обязательно замените!
    restart: unless-stopped
  web:
    build: .
    command: gunicorn app.wsgi:application --bind 0.0.0.0:8000
    
    volumes:
      - .:/app
      - staticfiles:/app/staticfiles
      - mediafiles:/app/mediafiles
    
    ports:
      - "8000:8000"
      
    environment:
      - SECRET_KEY=12345
      - DEBUG=0 
      - ALLOWED_HOSTS=127.0.0.1,localhost
      - DB_NAME=praktika
      - DB_USER=postgres
      - DB_PASSWORD=mysecretpassword
      - DB_HOST=db
      - DB_PORT=5432
      - CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
      - CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
      
    depends_on:
      - db
    restart: unless-stopped

volumes:
  postgres_data:
  staticfiles:
  mediafiles:



