# docker-compose.yml
services:
  db:
    image: postgis/postgis:14-3.3
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
    restart: unless-stopped

  web:
    build: .
    volumes:
  
      - mediafiles:/app/mediafiles
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db
    restart: unless-stopped

# --- ИЗМЕНЕНИЕ: Указываем, что это именованные тома ---
volumes:
  postgres_data:
  mediafiles:
  # staticfiles: