apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  type: LoadBalancer
  ports:
  - port: 8000
    targetPort: 8000
  selector:
    app: web
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web
        image: my-geo-app:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        # Просто берем ВСЕ переменные из секретов
        envFrom:
          - secretRef:
              name: app-secrets
        volumeMounts:
          - name: media-vol
            mountPath: /app/mediafiles
      volumes:
        - name: media-vol
          emptyDir: {}